<div class="container-fluid">
    <div class="row justify-content-center">
      <div *ngIf="mostrarElemento" class="col-12 col-md-10 col-lg-8">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="text-center">
                <th class="text-center" scope="col">CONSULTA DE QUINCENAS</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>1DA QUINCENA - ENERO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - ENERO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>1DA QUINCENA - FEBRERO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - FEBRERO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>1DA QUINCENA - MARZO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - MARZO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>1DA QUINCENA - ABRIL</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - ABRIL</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>1DA QUINCENA - MAYO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - MAYO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>1DA QUINCENA - JUNIO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              <tr class="text-center">
                <td>2DA QUINCENA - JUNIO</td>
                <td>
                  <i style="cursor: pointer;" class="fa-solid fa-file-pdf text-primary"></i>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <p>Se mostraran los ultimos 12 comprobantes</p>
    </div>
    </div>
</div>